{% from 'form_macros.html' import render_field %}

{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/post.css') }}">
{% endblock %}

{% block title %}
    {% if form.title.data %}
        Edit Post - {{ form.title.data }}
    {% else %}
        Add Post
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if form.title.data %}
            Edit Post
        {% else %}
            Add Post
        {% endif %}
    </h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {{ render_field(form.title, placeholder="Enter title") }}
        {% for error in form.title.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}

        {{ render_field(form.content, placeholder="Enter content") }}
        {% for error in form.content.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}

        <div class="form-group form-check">
            {{ form.is_active(class="form-check-input") }}
            {{ form.is_active.label(class="form-check-label") }}
        </div>

        {{ render_field(form.publish_date, type="datetime-local") }}


        {{ render_field(form.category) }}
        {% for error in form.category.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}


        <div class="form-group">
            <label for="author_id">Author</label>
            {{ form.author_id(class="form-control") }}
        </div>
        {% for error in form.author_id.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
        <div class="form-group">
            <label for="tags">Tags</label>
            <div id="tags">
                {% for tag in form.tags.choices %}
                    <div class="form-check">
                        <input
                            type="checkbox"
                            class="form-check-input"
                            id="tag_{{ tag[0] }}"
                            name="tags"
                            value="{{ tag[0] }}"
                            {% if form.tags.data and tag[0] in form.tags.data %}checked{% endif %}
                        >
                        <label class="form-check-label" for="tag_{{ tag[0] }}">
                            {{ tag[1] }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% for error in form.tags.errors %}
            <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
        {{ form.submit(class="btn btn-primary") }}
    </form>

    <br>
    <a href="{{ url_for('posts.get_posts') }}">Return to Posts</a>
{% endblock %}
