
body {
    font-family: Arial, sans-serif;
    background-color: #c8cef6;
}
header{
    font-size: large;
    background-color: #2f354f;
    color: white;
    text-align: center;
    padding: 15px ;
}
img{
    height: 100px;
}
nav {
    margin-bottom: 25px;
}
nav a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
}
nav a:hover {
    background-color: #555;
}
.container {
    max-width: 800px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    margin-top: 20px;
}
.userlist{
    background-color: #f4f4f9;  
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

nav.userlist ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav.userlist ul li {
    margin-bottom: 10px; 
}

nav.userlist ul li a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease; 
    display: block;
}
nav.userlist ul li a:hover {
    background-color: #62589e; 
    color: white; 
}
.age-text {
    font-size: 24px;
    font-weight: bold;
}

.age-provided {
    color: green; 
}

.age-missing {
    color: red; 
}