<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('user_name.resume') }}">Resume</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_name.resume') }}#about">Про себе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_name.resume') }}#education">Освіта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_name.resume') }}#skills">Навички</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_name.resume') }}#experience">Досвід роботи</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_name.account') }}">Мій профіль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_name.logout') }}">Вийти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_name.login') }}">Увійти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_name.register') }}">Реєстрація</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
